:root{
    --primary-color: #C68484;
    --secondary-color: #9B4444;
    --tertiary-color: #A3C9AA;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: var(--primary-color);
    padding: 7em;
}

.paypal,
.seventy-discount-bottom,
.seventy-discount-top{
    background-color: var(--secondary-color);
    height: 3em;
    width: 25em;
    padding: 2em;
    position: relative;
    left: 9em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#A3C9AA;

    & ion-icon {
        font-size: 2em;
        border-radius: 50%;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        transition: background-color 250ms linear,
                    color 500ms linear;

        &:hover{
            scale:1.1;
            cursor: pointer;
            color: var(--primary-color);
            background-color: var(--tertiary-color);
        }

        &:active{
            scale:.9;
        }
    }
}

.span-holder{
    display: flex;
    flex-direction: column;
    gap: .75em;

    & span:nth-child(1){
        font-weight: 700;
    }

    & span:nth-child(2){
        font-size: .85em;;
    }
}

.woman-man-kids{
    padding: .75em 1em;
    display: flex;
    gap:.5em;
    background-color: var(--tertiary-color);
    width: max-content;
    border-radius: 10px;
    position: relative;
    left: 45em;
    bottom: 6.9em;
    color: var(--secondary-color);
    font-weight: 800;

        & span{
            padding: 1em 2em;
            border-radius: 10px;
            width: max-content ;

            &.active{
                background-color: var(--secondary-color);
                color: var(--primary-color);
            }

            &:hover{
                background-color: var(--primary-color);
                color: var(--secondary-color);
                cursor: pointer;
            }
    }
}

.item-counter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    width: 22em;
    height: 20em;
    border-radius: 10px;
    position: relative;
    left: 20em;

    & .category-tab:nth-child(2){
        border-top: 2px solid var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
    }
}

.category-tab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 2em;

    & ion-icon{
        font-size: 2em;
    }
}

.icon-category{
    display: flex;
    align-items: center;
    gap: 1.3em;

    & .span-holder{
        gap: .25em;
    }
}

.category-tab > ion-icon{
    background-color: var(--primary-color);
    border-radius: 50%;
    font-size: 1.5em;
    padding: 5px;

    &:hover{
        cursor: pointer;
        scale: 1.1;
    }

    &:active{
        scale:.9;
    }
}

.seventy-discount-bottom{
    width: 22em;
    font-size: .95em;
    left: 25em;
    top: 3em;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);

        & ion-icon:hover{
            background-color: var(--secondary-color);
            color: var(--tertiary-color);
        }
}

.paypal {
    font-size: .9em;
    gap: 1em;
    left: 60em;
    bottom: 5em;

    & ion-icon:nth-child(1) { 
        font-size: 1.75em;
        padding: .85em;
        margin-left: -.5em;
        color: black;
    }
}

.image-holder{
    position: absolute;
    bottom: 22em;
    left: 55em;
    border-radius: 15px;
    height: 20em;
    width: 20em;
}

img{
    border-radius: 15px;
    height: 20em;
    width: 20em;
}

.inactive{
    display: none;
}

button{
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 50%;
    border: none;
    position: relative;
    top: 7em;
    left: .5em; 

    &:hover{
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.651);
    }
}

#forward-btn{
    left: 10.5em;
}